asgiref
attrs
beautifulsoup4
colorama
Django
django-bootstrap5
django_debug_toolbar
et-xmlfile
Faker
flake8
iniconfig
mccabe
mixer
numpy
openpyxl
packaging
pandas
Pillow
pluggy
py
pycodestyle
pyflakes
pytest
pytest-django
python-dateutil
pytz
six
soupsieve
sqlparse
tomli
tzdata
yapf

