{% extends "base.html" %}
{% block title %}
  Каталог продукции
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <span>Каталог продукции: {{ count_product }} наименований</span>
      <a class="btn btn-primary" href="{% url 'app:catalog_add' %}" role="button">Добавить товар</a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 300px;">Наименование</th>
            <th> Наличие</th>
            <th>Ожидание</th>
            <th>Прайс</th>
            <th> Рынок</th>
            <th style="width: 100px;"> Цена в юанях</th>
            <th>Расчет (закупка)</th>
            <th> Расчет (валюта)</th>
          </tr>
        </thead>
        <tbody> 
          {% for catalog in page_obj %}
            <tr>
              <td style="vertical-align: middle;"><a class="btn" 
                href="{% url 'app:catalog_detail' catalog.id %}"
                style="display: inline-block; text-align: left;">{{ catalog.title }}</a></td>
              <td>{{ catalog.count_stock }}</td>
              <td>{{ catalog.count_wait }}</td>
              <td>{{ catalog.price_RUB|floatformat:0 }}</td>
              <td>{% if catalog.market_price_RUB %}
                {{ catalog.market_price_RUB|floatformat:0 }} {% endif %}</td>
              <td>{% if catalog.order_price_RMB %}
                  {{ catalog.order_price_RMB|floatformat:0 }} {% endif %}</td>


              <td>{% if catalog.target_last_order_price_RUB %} 
                <span class="{% if catalog.target_last_order_price_RUB > catalog.price_RUB %}text-danger{% endif %}">
                {{ catalog.target_last_order_price_RUB|floatformat:0 }} </span> {% endif %}</td>

              <td>{% if catalog.target_current_RMB_price_RUB %} 
                <span class="{% if catalog.target_current_RMB_price_RUB > catalog.price_RUB %}text-danger{% endif %}">
                {{ catalog.target_current_RMB_price_RUB|floatformat:0 }}</span>{% endif %}</td>
              <td>
                <a class="btn btn-sm text-muted" href="{% url 'app:catalog_detail' catalog.id %}" role="button">
                  Детали
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include "includes/paginator.html" %}
{% endblock %}
