{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Список товаров
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <span>Список товаров:</span>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>№</th>
            <th style="width: 250px;">
              <br><form method="post" enctype="multipart/form-data" id="myForm">
                {% csrf_token %}
                {% bootstrap_form form_product %}
                <input type="submit" style="display: none;">
              </form>
              <script>
                const form = document.getElementById('myForm');
              
                form.addEventListener('change', () => {
                  form.submit();
                });
              </script> Товар</th>
            <th style="width: 100px;">Оплачено</th>
            <th style="width: 100px;">Получено</th>
            <th style="width: 100px;">Продано</th>
            <th>Себест.</th>
            <th>Цена</th>
            <th>Наценка, %</th>
          </tr>
        </thead>
        <tbody> 
          {% if goods_list_detail is not None %}
          {% for i in goods_list_detail %}
            <tr>
              <td>{{ i.order_number__order_number }}</td>
              <td style="vertical-align: middle;"><a class="btn" 
                href="{% url 'app:catalog_detail' i.product__product %}"
                style="display: inline-block; text-align: left;">
                {{ i.product__product__title }}</a></td>
              <td>{{ i.order_date__order_date|date:"d-m-Y" }}</td>
              <td>{{ i.received_date__received_date|date:"d-m-Y" }}</td>
              <td>{{ i.sale_date__sale_date|date:"d-m-Y" }}</td>
              <td>{{ i.cost_price_RUB__cost_price_RUB|floatformat:-2 }}</td>
              <td>{{ i.sale_price_RUB__sale_price_RUB|floatformat:-2 }}</td>
              <td>{% if i.markup != 0 %}{{ i.markup }}{% endif %}</td>
            </tr>
          {% endfor %}
          {% else%}
          {% for i in page_obj %}
          <tr>
            <td>{{ i.order_number__order_number }}</td>
            <td style="vertical-align: middle;"><a class="btn"
              href="{% url 'app:catalog_detail' i.product__product %}" 
              style="display: inline-block; text-align: left;">
              {{ i.product__product__title }}</a></td>
            <td>{{ i.order_date__order_date|date:"d-m-Y" }}</td>
            <td>{{ i.received_date__received_date|date:"d-m-Y" }}</td>
            <td>{{ i.sale_date__sale_date|date:"d-m-Y" }}</td>
            <td>{{ i.cost_price_RUB__cost_price_RUB|floatformat:-2 }}</td>
            <td>{{ i.sale_price_RUB__sale_price_RUB|floatformat:-2 }}</td>
            <td>{% if i.markup != 0 %}{{ i.markup }}{% endif %}</td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if goods_list_detail is None %}
{% include "includes/paginator.html" %}
{% endif %}
{% endblock %}
