{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Редактирование данных закупки
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
          Редактирование данных товара {{ form.instance.product.product.title }}. 
          <br>Закупка № {{ form.instance.order_number.order_number }} от {{ form.instance.order_date.order_date|date:"d-m-Y" }}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Редактировать" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}