{% extends "base.html" %}
{% block title %}
  Интернет-магазин DJI Robots
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-header">
      О сервисе
    </div>
    <div class="card-body">
      <p>
        Добро пожаловать в автоматизизованную систему управления интернет-магазином DJI Robots.
      </p>
      <p>
        <b>Цели внедрения системы:</b>
<br>- автоматизация управленческого учета,
<br>- автоматизация ценообразования,
<br>- обеспечение быстрого и удобного доступа к информации,
<br>- агрегация и расчет данных, необходимых для принятия управленческих решений. 
      </p>
    </div>
  </div>
</div>
{% endblock %}