{% extends "base.html" %}
{% block title %}
  Список закупок
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <span>Список закупок:</span>
      <a class="btn btn-primary" href="{% url 'app:order_add' %}" role="button">Новая закупка</a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>№</th>
            <th style="width: 100px;">Оплачено</th>
            <th>Кол-во</th>
            <th style="width: 400px;">Состав закупки</th>
            <th>Себест.</th>
            <th style="width: 100px;">Получено</th>
          </tr>
        </thead>
        <tbody> 
          {% for order in page_obj %}
            <tr>
              <td>{{ order.order_number }}</td>
              <td>{{ order.order_date|date:"d-m-Y" }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.product_list|truncatewords:30 }}</td>
              <td>{{ order.total_cost|floatformat:-2 }}</td>
              <td>{% if  order.received_date %} {{ order.received_date|date:"d-m-Y" }} 
                {% else %} 
                <a class="btn btn-sm text-danger" href="{% url 'app:order_received' order.order_number %}" role="button">
                  В пути
                </a>
                {% endif %}</td>
              <td>{{ order.cost_price_RUB }}</td>
              <td>
                <a class="btn btn-sm text-muted" href="{% url 'app:order_detail' order.order_number %}" role="button">
                  Детали
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include "includes/paginator.html" %}
{% endblock %}
