{% extends "base.html" %}
{% block title %}
  Список закупок
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Список закупок
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Номер</th>
              <th>Дата заказа</th>
              <th>Количество</th>
              <th>Комментарий</th>
              <th>Себестоимость ед.</th>
            </tr>
          </thead>
          <tbody> 
            {% for order in order_list %}
              <tr>
                <td>{{ order.number }}</td>
                <td>{{ order.order_date|date:"d-m-Y" }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.cost_price_RUB }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}