{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя пользователя: {% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}не указано{% endif %}</li>
      <li class="list-group-item text-muted">Регистрация: {{ profile.date_joined }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if user.is_authenticated and request.user == profile %}
      <a class="btn btn-sm text-muted" href="{% url 'app:edit_profile' username=profile.username %}">Редактировать профиль</a>
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      <a class="btn btn-sm text-muted" href="{% url 'app:import_orders_data' %}">Импорт закупок</a>
      <a class="btn btn-sm text-muted" href="{% url 'app:import_sales_data' %}">Импорт продаж</a>
      <a class="btn btn-sm text-muted" href="{% url 'app:import_catalog_data' %}">Импорт каталога</a>
      {% endif %}
    </ul>
  </small>
  <br>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header d-flex justify-content-between">
        <span class="text-left">
          Пользовательские настройки:
        </span>
        <span>
          <a class="btn btn-sm text-muted" 
          href="{% url 'app:settings_edit' %}" 
          role="button">Редактировать</a>
        </span>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Параметр</th>
              <th>Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Общее</b></td>
              <td></td>
            </tr>
              <tr>
                <td>Курс юаня, руб.</td>
                <td>{{ settings.exchange_rate }}</td>
              </tr>
              <tr>
                <td>Расходы на доставку, %</td>
                <td>{{ settings.delivery_cost }}</td>
              </tr>
              <tr>
                <td><b>Нормативы наценки, %</b></td>
                <td></td>
              </tr>
              <tr>
                <td>Себест более 128к</td>
                <td>{{ settings.markup_128 }}</td>
              </tr>
              <tr>
                <td>Себест более 64к</td>
                <td>{{ settings.markup_64 }}</td>
              </tr>
              <tr>
                <td>Себест более 32к</td>
                <td>{{ settings.markup_32 }}</td>
              </tr>
              <tr>
                <td>Себест более 16к</td>
                <td>{{ settings.markup_16 }}</td>
              </tr>
              <tr>
                <td>Себест более 8к</td>
                <td>{{ settings.markup_8 }}</td>
              </tr>
              <tr>
                <td>Себест более 4к</td>
                <td>{{ settings.markup_4 }}</td>
              </tr>
              <tr>
                <td>Себест более 2к</td>
                <td>{{ settings.markup_2 }}</td>
              </tr>
              <tr>
                <td>Себест менее 2к</td>
                <td>{{ settings.markup_0 }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}