{% extends "base.html" %}
{% block title %}
Продажи
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 60rem;">
      <div class="card-header d-flex justify-content-between">
        <span>Список продаж:</span>
        <a class="btn btn-primary" href="{% url 'app:sale_add' %}" role="button">Новая продажа</a>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>№</th>
              <th style="width: 120px;">Дата</th>
              <th style="width: 300px;">Состав продажи</th>
              <th>Сумма сделки</th>
              <th>Тип клиента</th>
              <th>Способ оплаты</th>
              <th>Способ получения</th>
            </tr>
          </thead>
          <tbody> 
            {% for sale in page_obj %}
            <tr>
              <td>{{ sale.sale_number }}</td>
              <td>{{ sale.sale_date|date:"d-m-Y" }}</td>
              <td>{{ sale.product_list }}</td>
              <td>{{ sale.total_price|floatformat:-2 }}</td>
              <td>{{ sale.client_type }}</td>
              <td>{{ sale.payment_type }}</td>
              <td>{{ sale.receiving_type }}</td>
              <td>
                <a class="btn btn-sm text-muted" href="{% url 'app:sale_detail' sale.sale_number %}" role="button">
                  Детали
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include "includes/paginator.html" %}
{% endblock %}