{% extends "base.html" %}
{% block title %}
Детали продажи
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="card-header d-flex justify-content-between">
      <span class="text-left">
        Продажа № {{ sale_info.sale_number }} от {{ sale_info.sale_date|date:"d E Y" }}:
        <br><b>{{ sale_info.total_price|floatformat:-2 }} руб.</b>
      </span>
      <span>
        <a class="btn btn-sm text-muted" 
        href="{% url 'app:sale_edit' sale_info.sale_number %}" 
        role="button">Редактировать</a>
        <a class="btn btn-sm text-muted"
        href="{% url 'app:sale_delete' sale_info.sale_number %}"
        role="button">Удалить продажу</a>
      </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h6 class="card-subtitle mb-2 text-muted">
            <small>
            Имя покупателя: {{ sale_info.client_name }}<br>
            Тип: {{ sale_info.client_type }}<br>
            Оплата: {{ sale_info.payment_type }}<br>
            Получение: {{ sale_info.receiving_type }}
            </small>
          </h6>
        </div>
        <div class="col-md-6">
          <h6 class="card-subtitle mb-2 text-muted">
            <small>
              Контакт: {% if 'https:' in sale_info.client_contact %} <a href="{{ sale_info.client_contact }}"> профиль авито</a> 
              {% else %} {{ sale_info.client_contact }} {% endif %}<br>
              Повторное обращение: {% if sale_info.regular_client %} да {% else %} нет {% endif %}<br>
              {% if sale_info.comment %} Комментарий:  {{ sale_info.comment }} {% else %} Нет комментария {% endif %}<br>
            </small>
          </h6>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена продажи</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody> 
          {% for i in sale_info_detail %}
            <tr>
              <td style="vertical-align: middle;"><a class="btn" href="{% url 'app:catalog_detail' i.product %}">{{ i.product__title }}</a></td>
              <td style="vertical-align: middle;">{{ i.quantity }}</td>
              <td style="vertical-align: middle;">{{ i.sale_price_RUB }}</td>
              <td style="vertical-align: middle;"><a class="btn btn-sm text-muted" href="{% url 'app:sale_detail_edit' i.sale_number_id__sale_number i.id %}" role="button">
                Редактировать
              </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}