{% extends "base.html" %}
{% block title %}
Товары в наличии и ожидании
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 60rem;">
      <div class="card-header">
        <div class="row">
          <div class="col-md-3">
              <br><b>Наличие</b>
              <br><b>Ожидание</b>
          </div>
          <div class="col-md-2">
              <b>Кол-во</b>
              <br>{{ total_count_stock }}
              <br>{{ total_count_wait }}
          </div>
          <div class="col-md-3">
            <b>Общий себест</b>
            <br>{% if total_cost_stock %} {{ total_cost_stock|floatformat:0 }} руб.{% endif %}
            <br>{% if total_cost_wait %} {{ total_cost_wait|floatformat:0 }} руб.{% endif %}
          </div>
          <div class="col-md-4">
            <b>Общая стоимость</b>
            <br>{% if total_price_stock %} {{ total_price_stock|floatformat:0 }} руб.{% endif %}
            <br>{% if total_price_wait %} {{ total_price_wait|floatformat:0 }} руб.{% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Продукт</th>
              <th style="width: 80px;">Наличие</th>
              <th style="width: 80px;">Себест</th>
              <th style="width: 80px;">Цена</th>
              <th style="width: 80px;">Ожидание</th>
              <th style="width: 80px;">Себест</th>
              <th style="width: 80px;">Цена</th>
            </tr>
          </thead>
          <tbody>
            {% for i in stock_list %}
              <tr>
                <td style="vertical-align: middle;">
                  <a class="btn" href="{% url 'app:catalog_detail' i.id %}" style="display: inline-block; text-align: left;">{{ i.title }}</a></td>
                <td>{{ i.count_stock }}</td>
                <td>{% if i.cost_stock %} {{ i.cost_stock|floatformat:0 }} {% endif %}</td>
                <td>{% if i.price_stock %} {{ i.price_stock|floatformat:0 }} {% endif %}</td>
                <td>{{ i.count_wait }}</td>
                <td>{% if i.cost_wait %} {{ i.cost_wait|floatformat:0 }} {% endif %}</td>
                <td>{% if i.price_wait %} {{ i.price_wait|floatformat:0 }} {% endif %}</td>
              </tr>
            {% endfor %}
            <tr>
              <th></th>
              <th>{{ total_count_stock }}</th>
              <th>{% if total_cost_stock %} {{ total_cost_stock|floatformat:0 }} {% endif %}</th>
              <th>{% if total_price_stock %} {{ total_price_stock|floatformat:0 }} {% endif %}</th>
              <th>{{ total_count_wait }}</th>
              <th>{% if total_cost_wait %} {{ total_cost_wait|floatformat:0 }} {% endif %}</th>
              <th>{% if total_price_wait %} {{ total_price_wait|floatformat:0 }} {% endif %}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
