{% extends "base.html" %}
{% block title %}
Товары в наличии и ожидании
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 60rem;">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
              <br><b>Наличие:</b>
              <br><b>Ожидание:</b>
          </div>
          <div class="col-md-2">
              <b>Кол-во:</b>
              <br>{{ total_count_stock }}
              <br>{{ total_count_wait }}
          </div>
          <div class="col-md-3">
            <b>Общий себест:</b>
            <br>{% if total_cost_stock %} {{ total_cost_stock }} руб.{% endif %}
            <br>{% if total_cost_wait %} {{ total_cost_wait }} руб.{% endif %}
          </div>
          <div class="col-md-3">
            <b>Общая стоимость:</b>
            <br>{% if total_price_stock %} {{ total_price_stock }} руб.{% endif %}
            <br>{% if total_price_wait %} {{ total_price_wait }} руб.{% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Продукт</th>
              <th>В наличии</th>
              <th>Себестоимость</th>
              <th>Цена продажи</th>
              <th>В ожидании</th>
              <th>Себестоимость</th>
              <th>Цена продажи</th>
            </tr>
          </thead>
          <tbody> 
            {% for i in stock_list %}
              <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.count_stock }}</td>
                <td>{% if i.cost_stock %} {{ i.cost_stock }} {% endif %}</td>
                <td>{% if i.price_stock %} {{ i.price_stock }} {% endif %}</td>
                <td>{{ i.count_wait }}</td>
                <td>{% if i.cost_wait %} {{ i.cost_wait }} {% endif %}</td>
                <td>{% if i.price_wait %} {{ i.price_wait }} {% endif %}</td>
              </tr>
            {% endfor %}
            <tr>
              <th></th>
              <th>{{ total_count_stock }}</th>
              <th>{% if total_cost_stock %} {{ total_cost_stock }} {% endif %}</th>
              <th>{% if total_price_stock %} {{ total_price_stock }} {% endif %}</th>
              <th>{{ total_count_wait }}</th>
              <th>{% if total_cost_wait %} {{ total_cost_wait }} {% endif %}</th>
              <th>{% if total_price_wait %} {{ total_price_wait }} {% endif %}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
