{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'app:index' %}">
        <img src="{% static 'img/log_1.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        DJI Robots
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:orders_list' %}">Закупки</a></button>

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:sales_list' %}">Продажи</a></button>

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:stock_list' %}">Остатки</a></button>

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:goods_list' %}">Товары</a></button>

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:catalog' %}">Каталог</a></button>
                  
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'app:profile' user.username %}">{{ user.username }}</a></button>
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="{% url 'logout' %}">Выйти</a></button>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'login' %}">Войти</a></button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>