{% extends "base.html" %}
{% block title %}
  О сервисе
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О сервисе
      </div>
      <div class="card-body">
        <p>
          Наш сервис - это автоматизизовання система управления интернет-магазином.
        </p>
        <p>
          Базовый функционал:
          <br>- учет товаров: закупки, продажи, остатки,
          <br>- ценообразование: автоматизированное определение цен в зависимости от курса валюты и рынка.
        </p>
        <p>
          Сервис могут использовать три категории сотрудников: 
          <br>- руководитель, 
          <br>- менеджер по продажам, 
          <br>- менеджер по закупкам.
        </p>
      </div>
    </div>
  </div>
{% endblock %}